### Question 1

In [3]:
a = 0

def b():
    global a
    a = c(a)

def c(a):
    return a + 2

b()
b()
b()
print(a)

6

Explanation:
b(): This statement calls the function b(). Inside b(), the global keyword is used to indicate that the variable a being referenced is the global variable, not a local variable. The function c(a) is then called with the current value of a (which is 0). In c(a), the value of a is incremented by 2 and returned.

b(): The second b() call executes the same steps as the first one. The global variable a is updated to the new value returned by c(a), which is 2. So, after this statement, the value of a is 2.

b(): Similar to the previous calls, the third b() call updates the global variable a to the value returned by c(a), which is 4. After this statement, the value of a becomes 4.

a: When the last expression a is evaluated, it returns the current value of the global variable a, which is 4. Therefore, the value 4 would be displayed.

The initial value of a is 0. Each call to b() increments the value of a by 2, resulting in 2, 4, and finally 6 as the consecutive values of a.

### Question 2

In [35]:
def fileLength(filename):
    try:
        with open(filename, 'r') as file:
            content = file.read()
            length = len(content)
            return length
    except FileNotFoundError:
        print(f"File {filename} not found.")
    except Exception as e:
        print(f"Error: {e}")

fileLength('midterm.py')

File midterm.py not found.

### Question 3

In [8]:
class Marsupial:
    def __init__(self):
        self.pouch = []

    def put_in_pouch(self, item):
        self.pouch.append(item)

    def pouch_contents(self):
        return self.pouch


class Kangaroo(Marsupial):
    def __init__(self, x, y):
        super().__init__()
        self.x = x
        self.y = y

    def jump(self, dx, dy):
        self.x += dx
        self.y += dy

    def __str__(self):
        return "I am a Kangaroo located at coordinates ({}, {})".format(self.x, self.y)


# Example usage:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
print(m.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']

k = Kangaroo(0, 0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
print(k.pouch_contents())  # Output: ['doll', 'firetruck', 'kitten']
k.jump(2, 3)
print(k)  # Output: I am a Kangaroo located at coordinates (2, 3)

['doll', 'firetruck', 'kitten']
['doll', 'firetruck', 'kitten']
I am a Kangaroo located at coordinates (2, 3)

### Question 4

In [14]:
def collatz(x):
    print(x)

    if x == 1:
        return

    if x % 2 == 0:
        collatz(x // 2)
    else:
        collatz(3 * x + 1)
        
collatz(6)

5
16
8
4
2
1

### Question 5

In [14]:
def binary(n):
    if n > 1:
        binary(n // 2)
    print(n % 2, end='')


binary(0)  # Output: 0
binary(1)  # Output: 1
binary(3)  # Output: 11
binary(9)  # Output: 1001

01111001

### Question 6

In [27]:
from html.parser import HTMLParser


class HeadingParser(HTMLParser):
    def __init__(self):
        super().__init__()
        self.indentation = 0

    def handle_starttag(self, tag, attrs):
        # Check if the tag is a heading tag (e.g., 'h1', 'h2', 'h3', etc.)
        if tag.startswith('h'):
            try:
                # Extract the heading level from the tag and adjust the indentation accordingly
                self.indentation = int(tag[1]) - 1
            except ValueError:
                # If the heading level is not a valid integer, set the indentation to 0 as a fallback
                self.indentation = 0

    def handle_endtag(self, tag):
        # Reset the indentation to 0 when encountering the end tag of a heading
        if tag.startswith('h'):
            self.indentation = 0

    def handle_data(self, data):
        # Print the heading data with the appropriate indentation
        if self.indentation > 0:
            print(' ' * self.indentation, end='')
        print(data)


# Test the implementation using w3c.html
with open('C:\\Users\\tonyd\\Downloads\\w3c.html') as infile:
    content = infile.read()

# Create an instance of HeadingParser
hp = HeadingParser()
# Parse the HTML content and print the headings
hp.feed(content)

Change_me














W3C Mission


 Principles

### Question 7

In [53]:
from urllib.request import urlopen
from urllib.parse import urljoin
from bs4 import BeautifulSoup


def webdir(url, depth, indent):
    # Print the URL with appropriate indentation
    print(' ' * indent + url)

    if depth == 0:
        return

    try:
        # Open the URL and read the webpage content
        response = urlopen(url)
        html = response.read()
        soup = BeautifulSoup(html, 'html.parser')

        # Find all the anchor tags in the webpage
        anchors = soup.find_all('a')

        for anchor in anchors:
            # Get the href attribute of each anchor tag
            href = anchor.get('href')

            if href and href.startswith('http'):
                # Recursively call webdir() with the new URL, reduced depth, and increased indentation
                webdir(href, depth - 1, indent + 4)
            else:
                # If the href is a relative URL, join it with the base URL
                abs_url = urljoin(url, href)

                # Recursively call webdir() with the new URL, reduced depth, and increased indentation
                webdir(abs_url, depth - 1, indent + 4)
    except Exception as e:
        # Handle any exceptions that occur during the process
        print('Error:', e)


# Test the implementation
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html' , 2, 0)

http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
Error: HTTP Error 404:

### Question 8

In [40]:
import sqlite3

# Connect to the database or create it if it doesn't exist
conn = sqlite3.connect('weather_database.db')

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Create the table
cursor.execute('''
    CREATE TABLE weather_updated_data (
        City TEXT,
        Country TEXT,
        Season TEXT,
        Temperature REAL,
        Rainfall REAL
    )
''')

# Insert the data into the table
data = [
    ('Mumbai', 'India', 'Winter', 24.8, 5.9),
    ('Mumbai', 'India', 'Spring', 28.4, 16.2),
    ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
    ('Mumbai', 'India', 'Fall', 27.6, 346),
    ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
    ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
    ('London', 'United Kingdom', 'Summer', 15.7, 157),
    ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
    ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
    ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
    ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
    ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)
]

cursor.executemany('INSERT INTO weather_updated_data VALUES (?, ?, ?, ?, ?)', data)

# Commit the changes and close the connection
conn.commit()

###### a)

In [41]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather_database.db')
cursor = conn.cursor()

# Query: All the temperature data
query = "SELECT Temperature FROM weather_updated_data"
cursor.execute(query)
temperature_data = cursor.fetchall()

# Print all the temperature data
print("All the temperature data:")
for temperature in temperature_data:
    print(temperature[0])

# Close the connection
conn.close()

All the temperature data:
24.8
28.4
27.9
27.6
4.2
8.3
15.7
10.4
13.6
20.7
27.7
22.2

###### b)

In [42]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather_database.db')
cursor = conn.cursor()

# Query: All the cities without repetition
query = "SELECT DISTINCT City FROM weather_updated_data"
cursor.execute(query)
cities = cursor.fetchall()

# Print all the cities
print("All the cities without repetition:")
for city in cities:
    print(city[0])

# Close the connection
conn.close()

All the cities without repetition:
Mumbai
London
Cairo

###### c)

In [44]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather_database.db')
cursor = conn.cursor()

# Query: All the records for India
query = "SELECT * FROM weather_updated_data WHERE Country = 'India'"
cursor.execute(query)
records = cursor.fetchall()

# Print all the records for India
print("All the records for India:")
for record in records:
    print(record)

# Close the connection
conn.close()

All the records for India:
('Mumbai', 'India', 'Winter', 24.8, 5.9)
('Mumbai', 'India', 'Spring', 28.4, 16.2)
('Mumbai', 'India', 'Summer', 27.9, 1549.4)
('Mumbai', 'India', 'Fall', 27.6, 346.0)

###### d)

In [45]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather_database.db')
cursor = conn.cursor()

# Query: All the Fall records
query = "SELECT * FROM weather_updated_data WHERE Season = 'Fall'"
cursor.execute(query)
records = cursor.fetchall()

# Print all the Fall records
print("All the Fall records:")
for record in records:
    print(record)

# Close the connection
conn.close()

All the Fall records:
('Mumbai', 'India', 'Fall', 27.6, 346.0)
('London', 'United Kingdom', 'Fall', 10.4, 218.5)
('Cairo', 'Egypt', 'Fall', 22.2, 4.5)

###### e)

In [46]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather_database.db')
cursor = conn.cursor()

# Query: The city, country, and season for which the average rainfall is between 200 and 400 millimeters
query = "SELECT City, Country, Season FROM weather_updated_data GROUP BY City, Country, Season HAVING AVG(Rainfall) BETWEEN 200 AND 400"
cursor.execute(query)
records = cursor.fetchall()

# Print the results
print("Cities, countries, and seasons with average rainfall between 200 and 400 millimeters:")
for record in records:
    print(record)

# Close the connection
conn.close()

Cities, countries, and seasons with average rainfall between 200 and 400 millimeters:
('London', 'United Kingdom', 'Fall')
('London', 'United Kingdom', 'Winter')
('Mumbai', 'India', 'Fall')

###### f)

In [47]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather_database.db')
cursor = conn.cursor()

# Query: The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order
query = "SELECT City, Country FROM weather_updated_data WHERE Season = 'Fall' GROUP BY City, Country HAVING AVG(Temperature) > 20 ORDER BY AVG(Temperature) ASC"
cursor.execute(query)
records = cursor.fetchall()

# Print the results
print("Cities and countries with average Fall temperature above 20 degrees (in increasing temperature order):")
for record in records:
    print(record)

# Close the connection
conn.close()

Cities and countries with average Fall temperature above 20 degrees (in increasing temperature order):
('Cairo', 'Egypt')
('Mumbai', 'India')

###### g)

In [48]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather_database.db')
cursor = conn.cursor()

# Query: The total annual rainfall for Cairo
query = "SELECT SUM(Rainfall) FROM weather_updated_data WHERE City = 'Cairo'"
cursor.execute(query)
total_rainfall = cursor.fetchone()[0]

# Print the result
print("Total annual rainfall for Cairo:", total_rainfall, "millimeters")

# Close the connection
conn.close()

Total annual rainfall for Cairo: 27.6 millimeters

###### h)

In [49]:
import sqlite3

# Connect to the database
conn = sqlite3.connect('weather_database.db')
cursor = conn.cursor()

# Query: The total rainfall for each season
query = "SELECT Season, SUM(Rainfall) FROM weather_updated_data GROUP BY Season"
cursor.execute(query)
results = cursor.fetchall()

# Print the results
print("Total rainfall for each season:")
for row in results:
    season = row[0]
    total_rainfall = row[1]
    print(f"{season}: {total_rainfall} millimeters")

# Close the connection
conn.close()

Total rainfall for each season:
Fall: 569.0 millimeters
Spring: 192.29999999999998 millimeters
Summer: 1706.5 millimeters
Winter: 230.1 millimeters

### Question 9

In [43]:
words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
word_uppercase = []

for word in words:
   word_size = word.upper()
   word_uppercase.append(word_size)

print(word_uppercase)



words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
word_lowercase = []

for word in words:
   word_size = word.lower()
   word_lowercase.append(word_size)

print(word_lowercase)



words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
word_contain = []

for word in words:
    word_count = len(word)
    word_contain.append([word.upper(), word.lower(), word_count])
    


print(word_contain)


words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
word_length = []

for word in words:
    count_word = len(word)
    word_length.append(count_word)

print(word_length)




words = ["The", "quick", "brown", "fox", "jumps", "over", "the", "lazy", "dog"]
word_value = []

for word in words:
    
    if len(word) >= 4:
        word_value.append(word)

print(word_value)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']
['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']
[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]
[3, 5, 5, 3, 5, 4, 3, 4, 3]
['quick', 'brown', 'jumps', 'over', 'lazy']